.container {
  padding: 0 2rem;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 0;
  list-style-type: none;
}

.navigation a {
  padding: 0.5rem;
  background-color: gray;
  border-radius: 0.5rem;
}

.navigation a:hover {
  background-color: hsl(202, 54%, 60%);
}

.navigation a:active {
  background-color: hsl(202, 54%, 30%);
}

.navigation li.selected a {
  background-color: hsl(202, 54%, 40%);
}

.main {
  margin: 5rem 20%;
}
